---
import Tabbar from "../components/Tabbar.astro";

let { title, colorScheme = "light" } = Astro.props;

if (title) {
  title = `${title} | 4ever Software`;
} else {
  title = "4ever Software";
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class={[
      "flex flex-col",
      colorScheme == "dark"
        ? "bg-[#221708] text-stone-300"
        : "bg-stone-100 text-slate-700",
    ].join(" ")}
  >
    <slot />
    <Tabbar />
    <!-- Drip -->
    <script type="text/javascript">
      var _dcq = _dcq || [];
      var _dcs = _dcs || {};
      _dcs.account = "4352850";

      (function () {
        var dc = document.createElement("script");
        dc.type = "text/javascript";
        dc.async = true;
        dc.src = "//tag.getdrip.com/4352850.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(dc, s);
      })();
    </script>
    <!-- end Drip -->
  </body>
</html>
